{{!-- blog post container --}}
<div class="container vstack gap-2 col-md-12 mx-auto">
    <div class="b-example-divider"></div>

    {{!-- post template --}}
    {{#each posts as |post|}}
    <a href="/api/posts/{{post.id}}" class="text-dark text-decoration-none">
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="card-title">{{post.title}}</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">{{post.content}}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted d-flex justify-content-end"><span>Posted by {{post.user.username}} on {{format_time post.date_created}}</span></small>
                </div>
            </div>
        </div>
    </a>
    {{/each}}
</div>